<html>
  <head>
    <title>Viewer Page</title>
    <meta charset="utf-8"/>
    <style>
      @@include('./style.css')
    </style>
  </head>
  <body>
    <%- include('includes/_temcard.ejs') %>
    <hr>
    This page licence is <a href="https://creativecommons.org/licenses/by-nc-sa/3.0">CC BY-NC-SA 3.0</a>.
    <script type="text/javascript" src="./script.js"></script>
  </body>
</html>
